.full-width {
    width: 100%;
}

.text-right {
    text-align: right;
}

.text-centre {
    text-align: center;
}

.hidden {
    display: none;
}

footer {
    min-height: 77.38px;
}

#loading {
    width: 25%;
}

#filters-table > td {
    text-align: right;
}

#logo {
    width: 97%;
}